*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  border: 3px solid aqua;
  border-radius: 10px;
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter {
  color: aqua;
  font-size: 50px;
  font-weight: bold;
  min-width: 300px;
  height: 110px;
  border: 3px solid aqua;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.buttonWrapper {
  min-width: 300px;
  height: 70px;
  border: 3px solid aqua;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button{
  font-size: 25px;
  background-color: aqua;
  padding: 10px;
  border-radius: 10px;
}

.colorCounter{
  color: red;
}

.lineWrapper{
  height: 40px;
  border: 2px solid green;
}

.containerCounter{
  border: 3px solid aqua;
  border-radius: 10px;
  width: 350px;
  height: 250px;
}

.text{
  color: white;
}

.valueSettingsWrapper{
  font-size: 20px;
  font-weight: bold;
  color: aqua;
  min-width: 300px;
  height: 110px;
  border: 3px solid aqua;
  border-radius: 10px;
  margin-bottom: 20px;
}

.valueSettingsPar{
  margin: 12px 0;
}

.valueSettingsInput {
  max-width: 120px;
  height: 25px;
  border: 3px solid aqua;
  font-size: 18px;
  margin-left: 30px;
  text-align: center;
}

.error-message{
  color: red;
  font-size: 26px;
}

.inputError{
  border: 3px solid red;

  max-width: 120px;
  height: 25px;
  font-size: 18px;
  margin-left: 30px;
  text-align: center;
}


